.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
    bottom: 0;
    background-color: blue;
    color: aqua;
    width: 100%;
    text-align: center;
}

.t1 {
  color: aqua;
}

 .footer a {
  text-decoration: none;
  margin: 0 10px;
  padding: 5px;
}

.footer a:hover {
    color: #fff;
} 